<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Waste Management</title>
    <link rel="icon" type="image/png" href="../static/images/logo.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
</head>

<body>
    <nav>
        <div class="nav-bar">
            <div class="logo">
                <h2><i class="fa-solid fa-recycle"></i>Smart Garbage System</h2>
            </div>
            <div class="nav-signin">
               <button class="button" onclick="window.location.href='login.html'">Login</button>
              <button class="button" onclick="window.location.href='signup.html'">Sign Up</button>
            </div>
        </div>
      </nav>
    <main>
        <div class="login-form">
            <form action="">
                <h1>Welcome back</h1>
                <p>Admin Login in to Waste Mangament</p>
                <form action="" class="login-form">
                    <div class="form-group">
                        <span class="input-icon"><i class="fa-solid fa-user"></i></span>
                        <input type="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <span class="input-icon"><i class="fa-solid fa-lock"></i></span>
                        <input type="password" placeholder="Password"  required >
                    </div>
                    <button type="submit" class="login-button" onclick="window.location.href='admin-dashboard.html'">Login</button>

                </form>
                <p>Don't have an account?<a href="signup.html" #> Sign Up</a></p>

                <h5>Quick accounts</h5>
                <div class="accounts">
                    <button type="button" class="account-button"><i class="fa-solid fa-user-shield"></i> Admin</button>
                    <button type="button" class="account-button"><i class="fa-solid fa-industry"></i> Factory</button>
                    <button type="button" class="account-button"><i class="fa-solid fa-recycle"></i> Collector</button>
                    <button type="button" class="account-button"><i class="fa-solid fa-user"></i> User</button>
                </div>

            </form>
        </div>
    </main>
    <footer>

    </footer>

</body>

</html>